$colorPrincipal: #902923;
$colorSecundario: #d0b07e;
$fuenteContenido: 'Roboto', sans-serif;

/* ----------- FOOTER ------------- */

footer{
    height: 40vh;
    font-family: $fuenteContenido;
    color: #e4dfdf;
    background: rgb(18,18,17);
    background-color: rgb(48, 46, 46);
    background-image: url(../media/svgfooter.png);

    h1{
        font-size: 2rem;
        text-align: center;
        text-shadow: 0px 4px 5px rgba(218, 213, 214, 0.23)
    }

    .mapa{
        display: flex;
        flex-direction: column;
        padding-top: 5em;
        align-items: center;
    }

    .contacto{
        @extend .mapa ; 

        p{
            padding: 0;
            margin: 10px;
            font-size: 15px;
            text-shadow: 0px 4px 5px rgba(220, 214, 215, 0.23);
        }

    }

    .seguinos{
        @extend .mapa;
    
        a{
            text-decoration: none;
            color: #e4dfdf;
            text-shadow: 0px 4px 5px rgba(216, 210, 211, 0.23);
        }
    }

    .iconos{
        width: 30px;
        height: 30px;
     }

    ul.social-network {
        list-style: none;
        display: inline;
        margin-left:0 ;
        padding-top: 1.5em;

        li {
            display: inline;
            margin: 0 5px;
        }

        a.icoFacebook:hover {
            background-color:#3B5998;
        }
        
        a.icoTwitter:hover {
            background-color:#33ccff;
        }
        
        a.icoGoogle:hover {
            background-color:#BD3518;
        }
        
        a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
        .social-network a.icoGoogle:hover i {
            color:#fff;
        }
    }
    
    .social-circle{
       
        i {
            color: #fff;
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            -o-transition: all 0.8s;
            -ms-transition: all 0.8s;
            transition: all 0.8s;
        }

        li {

            a{
                display:inline-block;
                position:relative;
                margin:0 auto 0 auto;
                -moz-border-radius:50%;
                -webkit-border-radius:50%;
                border-radius:50%;
                text-align:center;
                width: 50px;
                height: 50px;
                font-size:20px;
                background-color: $colorSecundario;
            }
       
            i{
                margin:0;
                line-height:50px;
                text-align: center;
            }

            a:hover i, .triggeredHover {
                -moz-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -ms--transform: rotate(360deg);
                transform: rotate(360deg);
                -webkit-transition: all 0.2s;
                -moz-transition: all 0.2s;
                -o-transition: all 0.2s;
                -ms-transition: all 0.2s;
                transition: all 0.2s;
            }
        }
    } 
    
}
