$colorPrincipal: #902923;
$colorSecundario: #d0b07e;
$fuenteContenido: 'Roboto', sans-serif;

/* ----------- HEADER ------------- */

header{

    background-color: $colorPrincipal;
    height: 12vh;
    font-family: 'Oswald', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;

        
    #logo{
        height: 90px;
        padding-left: 100px;
        padding-top: 5px;

    }

    nav{
        background-color: $colorPrincipal ; 
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-right: 20px;
    }

    .menu{
        list-style: none;
        width: 100%;
        margin-right: 60px;
        display: flex;
        flex-direction: row;
        font-size: 2.8rem;
        padding: 5px;
        justify-content: flex-end; 
        align-items: center;

        &__enlace{
            text-decoration: none;
            color: rgb(235, 227, 227);
            padding-left: 25px;
            text-shadow: 0px 4px 5px rgba(34, 33, 33, 0.23);
    
            &:hover{
                color: rgb(24, 24, 24);
                text-decoration: none;
            }
        } 
   
    }

    ul {
        
        ul {
            position: absolute;
            display: none;
            text-decoration: none;
            box-sizing: border-box;
            
            
            li {
                display: block;
                padding: 10px 10px;
                font-size: 2rem;
                background-color: rgba(18, 17, 17, 0.927);
                left: 1em;
                top: 0.5em;
                animation-name: aparecer;
                animation-duration: 1s;

                @keyframes aparecer{
                        0% {
                          opacity: 0;
                        }
                        
                        100% {
                          opacity: 1;
                        }
                      }
                
                
                

                &:hover{
                    color: black;
                    background-color: $colorSecundario;
                    border-bottom: 1px solid white;
                }
            }
        }
        li {
            &:hover {
                ul {
                    font-size: 2rem;
                    padding: 0px;
                    padding-top: 3px;
                    list-style-type: none;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    .subLi {
        text-decoration: none;
        color: rgb(235, 227, 227);
        position: relative;
    }

}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }